<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick</title>
</head>
<body>

    <!-- <button onclick = "" href="shirt1.html" name="shirt1" value="Shirt1" >Shirt 1</button>
    <button href="shirt2.html" >Shirt 2</button>
    <button href="shirt3.html" >Shirt 3</button> -->

    <a href="shirt1.html">shirt1</a>
<!-- 
    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button>

    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button>

    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button>
    <button href="shirt1.html" >Shirt 1</button> -->

    
    
    

    
</body>
</html>